css:
h1 {
  background-color: pink;
  color: green;
}

#heading:hover {
  color: purple;
}

.square {
  width: 200px;
  height: 200px;
  background-color: pink;
  border-width: 10px;
  border-style: double;
}
.rectangle {
  width: 400px;
  height: 200px;
  background-color: green;
  border-width: 10px;
  border-style: solid;
  margin-left: 220px;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: plum;
  border-radius: 50%;
  border-style: dotted;
  margin-left: 550px;
}
.circle1 {
  width: 100px;
  height: 100px;
  background-color: plum;
  border-radius: 50%;
  border-style: dotted;
  margin-left: 150px;
}